*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}
.btn{
    padding: 10px 60px;
    background-color:transparent;
    border: none;
    margin-bottom: 20px;
    border: 3px dashed black;
    cursor: pointer;
}
.btn:hover{
    transition: all 3s ease-in;
    transform: scaleX(1.5);
}
#img-meme{
    height: 470px;
}